.App {
  position: relative;
  left: 21%;
  width: 60%;
  border: 1px solid black;
  border-radius: 7px;
  padding: 0px;
  margin: 0px;
}

.tablehead {
  text-align: center;
}

.searchbar[type="text"] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchbar[type="text"]:focus {
  width: 100%;
}

.subcategory,
.price,
.popularity {
  text-align: center;
}
